<div>
	<h3>Administrator Sales Report by Day</h3>
	<table class="dragon-table">
		<thead>
			<tr>
				<th>Order Date</th> <th>Total Order Amount</th>
			</tr>
		</thead>
		<tbody>
			{{#each salesData as | data |}}
				<tr>
					<td>{{formatDate groupDate}}</td> <td>{{formatPrice totalOrderAmount}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
			<table class="dragon-table">
		<thead>
			<tr>
				<th>Customers</th> <th>Number of orders</th>
			</tr>
		</thead>
		<tbody>
			{{#each Customer as | CustomerDate |}}
				<tr>
					<td>{{firstname}} {{lastname}}</td> <td>{{TotalOrder}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<table class="dragon-table">
		<thead>
			<tr>
				<th>Total order so far</th> <th>Revenue</th>
			</tr>
		</thead>
		<tbody>
			{{#each Sale as | SaleData |}}
				<tr>
					<td>{{TotalSaleOrder}}</td> <td>{{formatPrice TotalSale}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<h3> 
		<a href="admin/manageinsert">insert</a> 
	</h3>
	<h3> 
		<a href="admin/managedelete">Delete</a> 
	</h3>
	<h3> 
		<a href="admin/manageupdate">Update</a> 
	</h3>

</div>