<div id="sales-tables">
	<h3 class="generic-center">Administrator Sales Report by Day</h3>
	<table class="dragon-table sales-table">
		<thead>
			<tr>
				<th>Order Date</th><th>Total Order Amount</th>
			</tr>
		</thead>
		<tbody>
			{{#each salesData as | data |}}
				<tr>
					<td>{{formatDate groupDate}}</td> <td>{{formatPrice totalOrderAmount}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
			<table class="dragon-table sales-table">
		<thead>
			<tr>
				<th>Customers</th><th>Number of orders</th>
			</tr>
		</thead>
		<tbody>
			{{#each Customer as | CustomerDate |}}
				<tr>
					<td>{{firstname}} {{lastname}}</td> <td>{{TotalOrder}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<table class="dragon-table sales-table">
		<thead>
			<tr>
				<th>Total order so far</th><th>Revenue</th>
			</tr>
		</thead>
		<tbody>
			{{#each Sale as | SaleData |}}
				<tr>
					<td>{{TotalSaleOrder}}</td><td>{{formatPrice TotalSale}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
<div id="button-group"> 
		<a class="button space-right" href="admin/manageinsert">Insert</a> 
		<a class="button space-right" href="admin/managedelete">Delete</a> 
		<a class="button space-right" href="admin/manageupdate">Update</a> 
</div>
</div>