<div>
    <h1 class="search-title">Search products:</h1>
            <form class="search-title" method="get" action="listprod">           
                <select size="1" name="categoryName">
                {{#each categoryList as | category |}}
                    <option>{{category}}</option>
                {{/each}}  
                </select>

                <input type="text" name="productName" size="40">
                <input type="submit" value="Search"> <input type="reset" value="Clear">
        </form>
    
    <h2 class="search-title">All Products</h2>
</div>

<table class="dragon-table">
    <thead>
        <tr>
            <th></th><th>Product Image</th><th>Product Name</th><th>Category</th><th>Price</th><th>Number sold</th>
        </tr>
    </thead>
    <tbody>
    {{#each productList as | product |}}
    	<tr>
    		<td>
    			<a href={{formatAddToCartURL result}}>Add</a>
    		</td>
            <td>
                {{#if result.productImageURL}}
                    <img class="dragon-thumbnail" src={{result.productImageURL}}>
                {{/if}}
            </td>
    		<td>
                <a class="dragon-prodname" href={{formatProductPageURL result.productId}}>{{result.productName}}</a>
            </td> 
            <td>{{result.categoryName}}</td>
    		<td>{{formatPrice result.productPrice}}</td>
            <td>{{result.qtySold}}</td>
    	</tr>
    {{/each}}
    </tbody>
</table>