<div class="generic-center">
	<h2 id="prod-title">{{product.productName}}</h2>
	<br>
	<span class="text-value-pair">
		<span class="inline-title">Price:</span>
		<span class="price-or-id">{{formatPrice product.productPrice}}</span>
	</span>
	<br>
	<span class="text-value-pair">
		<span class="inline-title">ProductID:</span>
		<span class="price-or-id">{{product.productId}}</span>
	</span>
	<br>
			{{#if product.displayImage}}
		<img class="full-image" src={{formatDisplayImageURL product.productId}}>
	{{else}}
	{{#if product.productImageURL}}
	<div id="prod-image-buttons">
		<img class="full-image" src={{product.productImageURL}}>
		
		{{/if}}
				{{/if}}
		<br>
			<a class = "button" href={{formatAddToCartURL product}}>Add to Cart</a>
			<a class = "button" href="listprod">Continue Shopping</a>
			</div>
		<p class="prod-description">
			{{#if product.productDesc}}
			{{product.productDesc}}
			{{else}}
		<h3 class="generic-left">This item has no description. Perhaps a dragon ate it.</h3>
		{{/if}}
		</p>



	<div id="review-entry">
		{{#if (isReviewsEmpty reviews)}}
		<span id="no-review-text">No reviews have been made yet. Be the first to do so!</span>
		{{else}}
		<table class="dragon-table">
			<thead>
				<tr>
					<th>Rating</th>
					<th>Date</th>
					<th>Comment</th>
					<th>Reviewer</th>
				</tr>
			</thead>
			<tbody>
				{{#each reviews as | productReview |}}
				<tr>
					<td>{{reviewRating}}</td>
					<td>{{formatDate reviewDate}}</td>
					<td>{{reviewComment}}</td>
					<td>{{firstName}}</td>
				</tr>
				{{/each}}
			</tbody>
			{{/if}}

			{{#if authenticatedUser}}
			<form name="ReviewRedirect" method=post action="/review">
				<table>
					<tr>
						<input type="hidden" name="productId" value={{product.productId}}>
					</tr>

					<tr>
						<td>Comment:</td>
						<td><input type="textarea" class="text-input" name="reviewComment" size="80"></td>
						<td>
						<select name="reviewRating">
						<option value=1>1 star</option>
						<option value=2>2 star</option>
						<option value=3>3 star</option>
						<option value=4>4 star</option>
						<option value=5>5 star</option>
						</td>
					</select>
					</tr>
					
				</table>
						<input class="button" type="submit" name="reviewSubmit" value="Submit">
						<input class="button" type="reset" value="Reset">
			</form>
			{{else}}
			<span id="no-review-text">Played it already? Register an account today and tell us what you thought!</span>
			{{/if}}
	</div>
</div>