<title>{{title}}</title>

{{> banner }}

<div>
	<h2>{{product.productName}}</h2>

	<table>

		<tr>
			<th>Descrption</th> 
			<td>
			{{#if product.productDesc}}
				{{product.productDesc}}
			{{else}}
				This item has no description. Perhaps a dragon ate it.
			{{/if}}
			</td> 
		</tr>

		<tr>
			<th>Id</th> <td>{{product.productId}}</td> 
		</tr>

		<tr>
			<th>Price</th> <td>{{formatPrice product.productPrice}}</td>
		</tr>

		{{#if product.productImageURL}}
	    	<img src={{product.productImageURL}}>
		{{/if}}

		{{#if product.displayImage}}
			<img src={{formatDisplayImageURL product.productId}}>
		{{/if}}

	</table>
		{{#each reviews as | productReview |}}

		<p>{{productId}}</p> <p>{{reviewRating}} {{reviewDate}}</p> <p>{{reviewRating}}</p> <p>{{reviewRating}}</p>

		{{/each}}
	<h3> 
		<a href={{formatReviewPageURL}}> Review </a> 
	</h3>

	<h3> 
		<a href={{formatAddToCartURL product}}> Add to Cart </a> 
	</h3>

	<h3> 
		<a href="listprod">Continue Shopping</a> 
	</h3>

</div>