<div>
	<h2>{{product.productName}}</h2>

	<table>

		<tr>
			<th>Description</th> 
			<td>
			{{#if product.productDesc}}
				{{product.productDesc}}
			{{else}}
				This item has no description. Perhaps a dragon ate it.
			{{/if}}
			</td> 
		</tr>

		<tr>
			<th>Id</th> <td>{{product.productId}}</td> 
		</tr>

		<tr>
			<th>Price</th> <td>{{formatPrice product.productPrice}}</td>
		</tr>

		{{#if product.productImageURL}}
	    	<img src={{product.productImageURL}}>
		{{/if}}

		{{#if product.displayImage}}
			<img src={{formatDisplayImageURL product.productId}}>
		{{/if}}

	</table>

	<table class="dragon-table">
		<thead>
			<tr>
				<th> Rating </th><th>Date</th><th>Comment</th><th>Reviewer</th>
			</tr>
		</thead>
		{{#if (isReviewsEmpty reviews)}}
		<tfoot>
			<tr>
				<td colspan="4"> No reviews have been made yet. Be the first to do so!</td>
			</tr>
		</tfoot>
		{{else}}
		<tbody>
		{{#each reviews as | productReview |}}
		<tr>
			<td>{{reviewRating}}</td><td>{{formatDate reviewDate}}</td><td>{{reviewComment}}</td><td>{{firstName}}</td>
		</tr>
		{{/each}}
		</tbody>
		{{/if}}
	</table>
	<!--
	<h3> 
		<a href={{formatReviewPageURL product.productId}}> Review </a> 
		</h3>
	}}
	-->

	<h3> 
		<a href={{formatAddToCartURL product}}> Add to Cart </a> 
	</h3>

	<h3> 
		<a href="listprod">Continue Shopping</a> 
	</h3>

</div>