<div id="sales-tables">
{{#each orderListData as | data |}}
<h3 class="generic-center">Order Number: {{result.orderId}}</h3>
<table class="dragon-table">
    <thead>
        <tr>
            <th>Product</th><th>Quantity</th><th>Price</th>
        </tr>
    </thead>
    <tbody>
    {{#each subResults as | subResult |}}
        <tr> 
            <td>{{productName}}</td> <td>{{quantity}}</td> 
            <td>{{formatPrice price}}</td> 
        </tr>
    {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th scope="row" colspan="2" align="left">Total</th>
            <td align="left">{{formatPrice result.total}}</td>
        </tr>
        <tr>
            <th scope="row" colspan="2" align="left">Order Date</th>
            <td align="left">{{formatDate result.orderDate}}</td>
        </tr>
    </tfoot>
</table>
{{/each}}  
</div>